<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/py05_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**for 반복문**


```
for 변수 in iterable-type:
    반복해서 실행할 블록(문장들)
```

*   iterable-type: 반복 가능한 데이터 타입
    *     range, list, tuple, dict, set, str, ...

In [ ]:
# range(start, stop, step): start <= x < stop  범위의 step(양수)만큼씩 증가하는 정수들을 생성.
for  x  in  range(1, 5, 1):          #  1 <= x < 5 
  print(x)

1
2
3
4

In [ ]:
# range(start, stop) : start <= x < stop  범위의 1씩 증가하는 정수들을 생성. 
for x in range(0, 5):
 print(x)

0
1
2
3
4

In [ ]:
# range(stop) : 0 <= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
# range(start, stop, step) : start >= x > stop 범위의 step(음수)만큼씩 감소하는 정수들을 생성 
         # 감소하는 거 만들 때는 3개 다 써줘야 함 
for x in range(5, 0, -1):
      print(x)

5
4
3
2
1

문자열(string): 문자들의 집합 (순서가 있는 배열)  --> 반복 가능한(iterable) 데이터 타입

In [ ]:
msg = '안녕하세요' 
for x in msg:
      print( x)

안
녕
하
세
요

0 이상 10 미만의 짝수들을 출력

In [ ]:
for x in range(10, 1, -2):
    print(x)

for n in range(0, 10, 2):
    print(n)

10
8
6
4
2
0
2
4
6
8

In [ ]:
for n in range(10):       # (0, 1, 2, 3, ..., 8, 9)
    if n % 2 == 0:
      print(n)

0
2
4
6
8

다음과 같이 출력하는 코드를 작성하세요. 

```
*
**
***
****
*****
```

In [ ]:
for n in range(1, 6):
  print('*'*n)

*
**
***
****
*****

In [ ]:
for n in range(6):
  print('*' * n)
for n in range(4,0,-1):
  print('*' * n)

*
**
***
****
*****
****
***
**
*

In [ ]:
for n in range(1,10) :
  if n < 6 :
    print('*' * n)
  else :
    print('*' * (10 - n))

*
**
***
****
*****
****
***
**
*

In [ ]:
print('*' * 1)
print('*' * 2)
print('*' * 3)
print('*' * 4)
print('*' * 5)

*
**
***
****
*****

In [ ]:
for n in range(1, 6):
      print('*' * n)

*
**
***
****
*****

In [ ]:
for n in range(1, 6):
  print('*' * n)
for n in range(4, 0, -1):
  print('*' * n)

*
**
***
****
*****
****
***
**
*

In [ ]:
# abs(x): x의 절대값을 반환
for n in range(-4, 5):     # -4, -3, -2, -1, -1,0,  1, 2,  3, 4)
    print('*' * (5 - abs(n)))

*
**
***
****
*****
****
***
**
*

다음과 같이 구구단을 출력하는 코드를 작성하세요. 

```
12 * 1 = 12
12 * 2 = 24 
12 * 3 = 36
...
12 * 11 = 132
12 * 12 = 144
```

In [ ]:
for n in range(1, 13):
  print('12 x', n, '=', (12*n))

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [ ]:
x = int(12)
for n in range (1, 13):
  print(x, 'x', n, '=',  x*n)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [ ]:
x = 12
for n in range(1, 13):
  print (f'{x} * {n} = {x*n}')

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144

In [ ]:
for n in range(1, 13):
  print (f'12 x {n} = {12*n}')

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

Ctrl+ /    : 커서가 있는 한 줄 또는 선택된 영역을 주석 토글로 만들어 줌(toggle)

**중첩 반복문(Nested Iteration)**

In [80]:
for dan in range(2,10):                        # 2~9까지 
    for n in range (1, 10):                       # 1~9까지
      print(f'{dan} x {n} = {dan * n}')     #
    print('-' * 20)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

##break 와 continue
   - break: iteration 종료 반복문 바깥 코드를 실행. break가 포함되어 있는 가장 가까운 반복문을 빠져나옴. 
   - continue: (반복문 블록 내부 실행문의 수행을 멈추고) 다음 iteration을 수행.

In [81]:
for x in range(5):
    if x == 2:
        break      # 이 위치에서 빠져 나와라 
    print(x)

0
1

In [82]:
for x in range(5):
    if x == 2:
      continue
    print(x)

0
1
3
4

다음과 같이 출력하는 코드를 작성하세요.
```
2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
...
--------------------
9 x 1 = 9
...
9 x 9 = 81
--------------------
```

In [97]:
for dan in range(2,10):                        # 2~9까지 
    for n in range (1, 10):                       # 1~9까지
          print(f'{dan} x {n} = {dan * n}')    
          if dan ==  n:
             break
    print( '-'  *  20)

2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

In [98]:
for dan in range(2, 10):
      for n in range(1, dan + 1):
            print(f'{dan} x {n} = {dan * n}')
      print('-' * 20)

2 x 1 = 2
2 x 2 = 4
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------