<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/py08_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

*     list: 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입. 
*     element(원소, 요소): 리스트에 저장된 각각의 값.
*     index(인덱스): 리스트에 값이 저장된 위치(번호). 
       * 리스트의 인덱스는 0부터 시작!! (r, oracle에서는 시작하는 숫자가 1이다)
       * 리스트의 마지막 원소의 인덱스는 (원소개수 -1)
*    리스트는 원소들을 변경(추가/삭제) 할 수 있음. 
       * tuple과 다른점!!

In [9]:
# 숫자들을 저장하는 list
numbers = [10, 20, 100, 90, 80]
print(numbers)
print(type(numbers))

[10, 20, 100, 90, 80]
<class 'list'>

## indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법

In [10]:
print(numbers[0])        # 리스트의 첫번째 원소 
print(numbers[4])        # 리스트의 인덱스 4번 원소 
print(numbers[-1])      # 리스트의 마지막 원소
# print( numbers[5])   #> IndexError 발생 - 인덱스의 범위를 벗어난 인덱스를 사용했기 때문.

10
80
80



```
list_name[start:end]
    * start <= index < end 범위의 인덱스 위치의 원소들을 선택 
    * start가 생략되면 리스트의 첫번째 원소부터 선택 
    * end가 생략되면 리스트의 마지막 원소까지 선택 
    * slicing의 결과는 새로운 리스트 
```

In [11]:
numbers[1:4]    # 1 <= index < 4 인덱스 범위의 원소들로 이루어진 리스트

[20, 100, 90]

In [12]:
numbers[:3]      # 0 <= index < 3 인덱스 범위의 원소들로 이루어진 리스트

[10, 20, 100]

In [13]:
numbers[3:]      # 3 <= index < 마지막 인덱스 범위의 원소들로 이루어진 리스트

[90, 80]

In [14]:
numbers[:]

[10, 20, 100, 90, 80]

In [15]:
# 끝에서 3개 선택 
numbers[-3:]

[100, 90, 80]

In [16]:
print(numbers[1])       # 인덱스 1번 위치의 "원소" -> 숫자 1개 
print(numbers[1:2])   # 1 <= index < 2 범위의 원소들로 이루어진 "리스트" -> 숫자 1개를 갖고 있는 리스트

20
[20]

## 문자열 - 문자들의 리스트

In [17]:
# 문자열 -> 인덱스, 인덱싱, 슬라이싱 
message = 'Hello, Python!'      # 14개의 문자를 가지고 있는 문자열 
print(message[0])       # 인덱싱
print(message[-1])
print(message[:5])

H
!
Hello

## list의 산술 연산

문자열의 산술 연산: `+, *`

In [18]:
'Hello' + 'Python'

'HelloPython'

In [19]:
'Hello' * 3         #  * : replicate

'HelloHelloHello'

list의 산술 연산: `+, *`

In [20]:
[1, 2, 3] + [10, 20, 30]        #  +: concatenate(이어 붙이기)

[1, 2, 3, 10, 20, 30]

In [21]:
[1, 2, 3] * 3           #  *: replicate(복제하기)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## list의 메서드(함수) - 기능

## element 추가

In [22]:
# list.append(값) : 리스트의 가장 마지막에 새로운 원소를 추가 
print(numbers)
numbers.append(0)   # 새로운 원소 추가 
print(numbers)      #원소추가 후

[10, 20, 100, 90, 80]
[10, 20, 100, 90, 80, 0]

In [23]:
numbers.remove(0)
print(numbers)

[10, 20, 100, 90, 80]

In [24]:
# list. insert(index, object): list의 index 위치에 object(값)을 추가(삽입)
print(numbers)   # insert 전
numbers.insert(1, 123)      # index 1 위치에 123을 추가 
print(numbers)   # insert 후

[10, 20, 100, 90, 80]
[10, 123, 20, 100, 90, 80]

In [25]:
# list.extend(iterable): 리스트 이어붙이기(concatenate) + 연산과 동일 
print(numbers)          # extend 전
numbers.extend([1, 2, 3])           #numbers + [1, 2, 3]   / 하나씩 append 하는 + 라고 생각하자 
print(numbers)

[10, 123, 20, 100, 90, 80]
[10, 123, 20, 100, 90, 80, 1, 2, 3]

In [26]:
list1 = [1, 2, 3]
list1.append([4, 5, 6])
print(list1)

[1, 2, 3, [4, 5, 6]]

In [27]:
list2 = [1, 2, 3]
list2.extend([4, 5, 6])
print(list2)

[1, 2, 3, 4, 5, 6]

## element 삭제

In [28]:
# list.remove(값): 리스트에서 처음 등장하는 값을 삭제 
numbers = [1, 2, 3, 1, 2, 10, 20]
print(numbers)   # 삭제 전
numbers.remove(1)   # 값 1을 삭제 
print(numbers)   # 삭제 후

[1, 2, 3, 1, 2, 10, 20]
[2, 3, 1, 2, 10, 20]

In [29]:
# list. pop(index): 인덱스 위치의 원소를 삭제. index를 생략하면 가장 마지막 원소를 삭제. 
numbers = [1, 2, 3, 1, 2, 10, 20]
print(numbers) 
numbers.pop(1)      # index 1 위치의 값을 삭제 
print(numbers)
numbers.pop( )        # 가장 마지막 원소 삭제
print(numbers)

[1, 2, 3, 1, 2, 10, 20]
[1, 3, 1, 2, 10, 20]
[1, 3, 1, 2, 10]

In [30]:
# list. clear() : 리스트의 모든 원소 삭제 
numbers = [1, 2, 3, 1, 2, 10, 20]
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 1, 2, 10, 20]
[]

###리스트의 값 수정

In [31]:
# list[index] = value
numbers = [1, 2, 3, 4, 5]
print(numbers)
numbers[0] = 100
print(numbers)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

# list와 for 반복문

In [32]:
#   for  x  in iterable: 
numbers = [1, 10, 100, 1000]
for x in numbers:
    print(x)

1
10
100
1000

In [33]:
# 리스트의 인덱스와 값을 모두 반복(iteration)
for index, value in enumerate(numbers):
        print(index, ':', value)

0 : 1
1 : 10
2 : 100
3 : 1000

In [34]:
# 리스트의 인덱스와 값을 동시에 반복(iteration)
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 10
2 : 100
3 : 1000

#Exercise

In [50]:
import random   # 난수 생성 함수들을 가지고 있는 모듈

In [51]:
# 1.  빈 리스트(empty list) 생성
numbers = []
print(numbers)

[]

In [52]:
# 2. 1에서 생성한 빈 리스트에 1 ~ 10 사이의 정수 난수 5개를 저장
random.seed(1)

for _  in range(5):        #문법에 맞추기 위해 변수 이름을 선언한 것 
    numbers.append(random.randrange(1,11))
    print(numbers)

[3]
[3, 10]
[3, 10, 2]
[3, 10, 2, 5]
[3, 10, 2, 5, 2]

In [57]:
# 3. 리스트에 저장된 모든 숫자들의 합(sum)을 계산하고 출력
print(sum(numbers))
total = sum(numbers)
print(total)

total = 0                   # 변수에 0이라는 값을 저장하겠다라는 뜻 / 변수를 초기화 한다 
for x in numbers:   # 3, 10, 2, 5, 2를 다 더해나가겠다. 
        total += x
print('total=', total)

22
22
total= 22

In [60]:
# 4. 리스트에 저장된 모든 숫자들의 평균을 계산하고 출력
    # len(반복가능한타입):
avg = total /len(numbers)
print('average = ', avg)

average =  4.4