<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/py09_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2차원 리스트와 for 반복문

In [ ]:
import random       # 난수 생성 함수를 가지고 있는 모듈 사용

*  empty list 생성 - numbers
*  10 ~ 100  범위의 정수 난수 10개를 리스트에 추가하고 출력 
*  리스트의 원소들 중 짝수들로만 이루어진 새로운 리스트를 생성하고 출력 - evens
*  리스트의 원소들 중 홀수들로만 이루어진 새로운 리스트를 생성하고 출력 - odds

In [14]:
numbers = []
print(numbers)

[]

In [21]:
numbers=[]
for _  in range(10):        #10번 append (10번 반복하겠다 라는 뜻) 
    numbers.append(random.randrange(10,101))

print(numbers)

[96, 57, 21, 66, 94, 75, 23, 30, 76, 60]


* `random.randrange(start, stop)` : start <= r < stop 범위의 정수 난수를 생성
* `random.randint(start, stop)` : start <= r <= stop 범위의 정수 난수를 생성 
* 미만이냐 이하냐의 따라 달라짐

In [22]:
# 리스트의 원소들 중 짝수들로만 이루어진 새로운 리스트를 생성하고 출력 - evens
# 리스트의 원소들 중 홀수들로만 이루어진 새로운 리스트를 생성하고 출력 - odds
evens, odds = [], []

for x in numbers:       # 리스트 numbers의 원소들을 반복하면서 
    if x % 2 == 0 :         # 리스트의 원소가 짝수이면 
        evens.append(x)
    else:                         # 그렇지 않으면(홀수이면)
        odds.append(x)
print(evens)
print(odds)

[96, 66, 94, 30, 76, 60]
[57, 21, 75, 23]

```
empty list를 생성 - numbers
10 ~ 10 범위의 정수 난수 10개를 리스트에 추가, 출력
리스트의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트를 생성, 출력 - positives
```

In [27]:
numbers = []
for _ in range(10): 
    numbers.append(random.randrange(-10, 11))

print(numbers)

positives = []               # 양수(True), 0 또는 음수(False)를 저장할 리스트 
for x in numbers:       # 리스트 numbers의 원소들을 반복하면서 
      # if x > 0 :
      #     positives.append(True)
      # else:
      #     positives.append(False)
      positives.append( x > 0 )
print(positives)

[2, 6, -6, 6, 7, -4, 3, -9, 5, 1]
[True, True, False, True, True, False, True, False, True, True]

```
empty list를 생성
리스트에 0 또는 1을 랜덤하게 10번 추가, 출력
리스트의 원소가 0이면 'Male', 1이면 'Female'을 저장하는 리스트를 생성, 출력.
```

In [34]:
gender_codes = []           # 0 또는 1들을 저장할 리스트 
for _ in range(10):            # 10번 반복할거야 
     gender_codes.append(random.randrange(0, 2))

print(gender_codes)

genders = []             # 'Male' 또는 'Female'들을 저장할 리스트 
for x in gender_codes:
          if x == 0: 
            genders.append('Male')
          else:
            genders.append('Female')

print(genders)

[0, 0, 0, 0, 1, 0, 0, 0, 0, 1]
['Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female']

# List Comprehension(리스트 내포)

In [38]:
# l = []
# for _ in ...:
#        l.append(x)

# 1~10까지 정수들을 차례로 저장하는 리스트 
l = []
for _ in range(1, 11):
    l.append(_)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
# list comprehension
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# [1, 4, 9, 16, 25, 36, 49, 64, 81, 100] 리스트를 만들어라
squares = []
for x in range(1, 11):
    squares.append(x ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
squares = [x ** 2 for x in range(1, 11)]        # squares은 x의 제곱을 저장하고 있고, x는 1~10까지 입니다. 
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
# 0 이상 10이하의 짝수들을 갖는 리스트 
evens = []
for x in range(0, 11, 2):
      evens.append(x)

print(evens)

[0, 2, 4, 6, 8, 10]

In [53]:
evens = [x for x in range(0, 11, 2)]
print(evens)

[0, 2, 4, 6, 8, 10]