<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/py11_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플(tuple)

*        tuple: 저장된 원소(아이템)들을 변경할 수 없는 리스트
*        인덱스 기반의 데이터 타입. 인덱스를 사용해서 원소를 참조함.  - indexing, slicing
*        append(), insert(), extend(), remove(), pop()와 같은 기능(메서드)들은 제공되지 않음.

In [2]:
numbers = (1, 2, 3, 4, 5)       #튜플 만드는 방법
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5)
<class 'tuple'>

## indexing

In [4]:
print(numbers[2])

3

*  [   ] 는 리스트를 만들때, 인덱스를 만들 때 각각의 상황에서 사용됨. 
*  모든 인덱스는 대괄호를 사용한다.

In [8]:
print(numbers[0])        # 인덱스는 0부터 시작
print(numbers[4])        # 마지막 인덱스는 (원소 개수 -1)
print(numbers[-1])      # 음수 인덱스 - 튜플의 마지막 우너소부터 거꾸로 매겨지는 인덱스

1
5
5

## slicing

In [15]:
print(numbers)
print(numbers[1:3])     # start <= index < stop 범위의 원소들로 이루어진 튜플 
print(numbers[:3])
print(numbers[3:])
print(numbers[-3:])

(1, 2, 3, 4, 5)
(2, 3)
(1, 2, 3)
(4, 5)
(3, 4, 5)

In [18]:
print(numbers[1])       #> 원소(아이템) - 숫자
print(numbers[1:2])    #> 원소(아이템) 1개로 이루어진 튜플

2
(2,)

In [20]:
#numbers[0] = 100   # 안 돼요, 튜플 객체(numbers)는 아이템을 못 바꿔요(값 못 바꿔)
#> TypeError 발생 - 튜플은 기존 원소의 값을 변경할 수 없다

In [21]:
t = (x for x in range(5))     # 불가능 
print(t)

<generator object <genexpr> at 0x7f8df77ede50>

# decomposition(분해)

In [23]:
first, second = (1, 2)
print('first =', first)
print('second = ', second)

first = 1
second =  2

# 튜플과 반복문

In [25]:
numbers = {1, 2, 10, 20, 100, 200}
for x in numbers:
    print(x)

1
2
100
200
10
20

In [29]:
numbers = ((1, 2), 
                       (3, 4), 
                       (5, 6))
for row in numbers:
      for x in row:
            print(x, end='\t')
      print()

1	2
3	4
5	6

In [31]:
# decomposition을 사용한 for 반복문 
for x, y in numbers:
    print(x, y)

1 2
3 4
5 6

In [33]:
for i, v in enumerate(numbers):
    pass

for x, y in zip(numbers, numbers):
    pass