<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/py12_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

**dict**
*    사전(dictionary)형식의 데이터 타입
*    키(key)를 기반으로 값(value)을 저장하는 데이터 타입
    *    list, tuple: index를 기반으로 값을 저장하는 데이터 타입
    *    key의 역할은 list나 tuple에서 인덱스의 역할과 마찬가지로, 사전에 저장되어 있는 유일한 1개의 값을 찾아가기(참조하기) 위한 용도

* list = [1, 2, 3, 4, ...]
* tuple = (1, 2, 3, 4, ...)
* dict = {key: value}

In [ ]:
students = {1: '홍길동', 2: '오쌤', 10: 'Scott'}
print(students)
print(type(students))
print(students.keys())      # dict의 key들 
print(students.values())    # dict의 value들

{1: '홍길동', 2: '오쌤', 10: 'Scott'}
<class 'dict'>
dict_keys([1, 2, 10])

In [ ]:
# dict[key] - dict에서 key에 해당하는 value
print(students[2])

오쌤

In [ ]:
#  dict[key] = value 
#  1) key가 dict에 없는 경우, 새로운 key: value 아이템을 dict에 추가 
students[11] = 'tiger'
print(students)

#  2) key가 dict에 있는 경우, 기존 값을 새로운 값으로 변경 
students[1] = '김길동'
print(students)

{1: '김길동', 2: '오쌤', 10: 'Scott', 11: 'tiger'}
{1: '김길동', 2: '오쌤', 10: 'Scott', 11: 'tiger'}

In [ ]:
book = {'title' : '혼자 공부하는 파이썬', 
               'author': '윤인성', 
               'price' : 18000}
print(book)

{'title': '혼자 공부하는 파이썬', 'author': '윤인성', 'price': 18000}

In [ ]:
book.keys()         # dict의 key들을 확인

dict_keys(['title', 'author', 'price'])

In [ ]:
book.values()     # dict의 value들만 확인

dict_values(['혼자 공부하는 파이썬', '윤인성', 18000])

In [ ]:
book.items( )      # (key, value)   item들의 리스트

dict_items([('title', '혼자 공부하는 파이썬'), ('author', '윤인성'), ('price', 18000)])

In [ ]:
# dict.get(key) : key에 해당하는 value를 반환
print(book.get( 'title' ))
print(book['title'])

혼자 공부하는 파이썬
혼자 공부하는 파이썬

In [ ]:
# book['isbn']
# dict[key]를 사용하는 경우, key가 dict에 없는 경우에는 KeyError가 발생함. 

print(book.get('isbn'))
#> dict.get(key) 메서드를 사용하는 경우, key가 dict에 없는 경우에 에러 대신 None을 반환.

None

In [ ]:
# # key 변경 방법 -> 그 key값을 삭제한 후 넣는 방법
# list.pop()
# list.remove()
# index의 경우

In [ ]:
# book.pop('price')   # key에 해당하는 아이템(key: value)삭제 
print(book)

{'title': '혼자 공부하는 파이썬', 'author': '윤인성', '가격': 18000}

In [ ]:
book['가격'] = 18000        # dict에 새로운 아이템(key: value)추가 
print(book)

{'title': '혼자 공부하는 파이썬', 'author': '윤인성', '가격': 18000}

### dic는 key와 value 모두 다양한 타입의 자료들을 사용할 수 있음.

In [ ]:
contact = {'name' : '봄니',
                    'phone' : ['010-0000-0000', '02-0000-0000', '02-1234-5678'],
                    'email' : {'personal' : 'starletbm@naver.com', 'company' : 'media.indemb@gmail.com'}}

print(contact)

{'name': '봄니', 'phone': ['010-0000-0000', '02-0000-0000', '02-1234-5678'], 'email': {'personal': 'starletbm@naver.com', 'company': 'media.indemb@gmail.com'}}

In [ ]:
print(contact['phone'])     #> 리스트(list)
print(contact['phone'] [1])   #> 인덱스 - 리스트의 원소를 참조

['010-0000-0000', '02-0000-0000', '02-1234-5678']
02-0000-0000

In [ ]:
print(contact['email'])        #> dict
print(contact['email']['company'])      #> key -> value를 참조

{'personal': 'starletbm@naver.com', 'company': 'media.indemb@gmail.com'}
media.indemb@gmail.com

In [ ]:
#  list
numbers = [10, 5, 7]
print(numbers[0])      # list_name[index]

10

In [ ]:
data = {'name' : '봄', 
                'age' : 16,  1: 100, 2: 'abc'}          # dict
print(data['name'])
print(data[1])

봄
100

In [ ]:
s = '안녕하세요'
print(s)

안녕하세요

In [ ]:
s 문장(statement) vs 식(expression)

'안녕하세요'

# dic와 for반복문

In [ ]:
for 변수 in 반복가능한타입:
        코드 블록

In [ ]:
menu = {'짜장면' : 5000, '짬뽕' : 6000, '볶음밥' : 6000}

In [ ]:
for x in menu:
        print(x)            # dict의 key를 꺼내준다

# for-in구문에서 dict를 사용하면 key를 iteration 한다.

짜장면
짬뽕
볶음밥

In [ ]:
for key in menu:
    print(key, ':', menu[key])     # menu[key] 메뉴에서 짜장면이 가지고 있는 value를 찾아라

짜장면 : 5000
짬뽕 : 6000
볶음밥 : 6000

In [ ]:
for k, v in menu.items( ):          # [('짜장면', 5000), ('짬뽕', 6000), ('볶음밥', 6000)]
    print(k, ':', v)

짜장면 : 5000
짬뽕 : 6000
볶음밥 : 6000

# Dictionary Comprehension

In [ ]:
emp_no = [101, 102, 201, 202]   # 사번 리스트 
emp_name = ['King', 'Scott', 'Allen', 'Bomni']

In [ ]:
# 1) empty dict 생성
employees = { }   #employees = dict()

# 2) emp_no, emp_name 리스트의 원소들을 차례로 반복하면서, employees[key] = value
for k, v in zip(emp_no, emp_name):
    employees[k] = v

print(employees)

{101: 'King', 102: 'Scott', 201: 'Allen', 202: 'Bomni'}

In [ ]:
# dictionary comprehension: {k : v for, k, v iterable}  [ 값 for x in list ]
emp = {no: name for no, name in zip(emp_no, emp_name)}      # emp = {k: v  for k, v. in zip(emp_no, emp_name)}
print(emp)

{101: 'King', 102: 'Scott', 201: 'Allen', 202: 'Bomni'}

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon', '딸기', '복숭아']
print(fruits)
# {과일이름: key, 이름길이: values} 형식의  dict 생성

['apple', 'banana', 'cherry', 'pineapple', 'watermelon', '딸기', '복숭아']

In [ ]:
Fruits = {'apple' : len('apple'), 'banana' : len('banana'), 'cherry' : len('cherry'), 'pineapple' : len('pineapple'), 
                    'watermelon' : len('watermelon'), '딸기' : len('딸기'), '복숭아' : len('복숭아')}
print(Fruits)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2, '복숭아': 3}

In [ ]:
# empty dict 생성
fruit_lengths = { }

for x in fruits :   #fruits 원소들을 반복하면서 
    print(x, len(x))           #fruit_lengths[과일이름] = 과일이름 길이 

  # 같결 
  fruit_lengths = {}
  for x in fruits:
        fruit_lengths[x] = len(x)

    print(fruit_lengths)

IndentationError: ignored

In [ ]:
fruit_length2 = {x : len(x) for x in fruits}
print(fruit_length2)

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10, '딸기': 2, '복숭아': 3}

In [2]:
words = ['one', 'little', 'two', 'little', 'three', 'little', 'indian', 'indian']

In [3]:
# empty dict 생성
word_counts = {}    # word_counts = dict( )

for w in words:                       # 리스트 words가 가지고 있는 문자열 w에 대해 반복하면서 
    if w in word_counts:         # 문자열 w가 word_counts의 key로 존재하는지 검사 
        word_counts[w] += 1     # 단어 등장 횟수를 1 증가 
    else:                                      # 문자열 w가 처음 등장한 경우
        word_counts[w] = 1      # 단어 등장 횟수를 1로 설정 
    print(word_counts)

{'one': 1}
{'one': 1, 'little': 1}
{'one': 1, 'little': 1, 'two': 1}
{'one': 1, 'little': 2, 'two': 1}
{'one': 1, 'little': 2, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}

In [6]:
from collections import defaultdict
# collections 모듈에서 defaultdict 데이터 타입을 import

In [8]:
word_counts2 = defaultdict(int)
# dictionary의 value의 데이터 타입은 int임을 설정 
for w in words:
    word_counts2[w] += 1        #word_counts2[w] = word_counts2[w] + 1
    print(word_counts2)

defaultdict(<class 'int'>, {'one': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 1, 'two': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 2, 'two': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 2, 'two': 1, 'three': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 3, 'two': 1, 'three': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 1})
defaultdict(<class 'int'>, {'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2})

In [12]:
# list가 가지고 있는 count를 쓰는 것 
word_counts3 = {}
for w in words:
    # print(w, words.count(w))
    word_counts3[w] = words.count(w)
    print(word_counts3)

{'one': 1}
{'one': 1, 'little': 3}
{'one': 1, 'little': 3, 'two': 1}
{'one': 1, 'little': 3, 'two': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}
{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}

In [14]:
word_counts4 = {w: words.count(w) for w in words}
print(word_counts4)

{'one': 1, 'little': 3, 'two': 1, 'three': 1, 'indian': 2}