<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/py13_try.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 예외(exception), 오류(error) 종류

In [2]:
# prnit('Hello')  #> NameError: 사용하려는 함수 또는 변수 이름이 정의되지 않은 경우 
print('Hello')

Hello

In [3]:
# x += 1        #> NameError
x = 0
x += 1

In [6]:
# x = int('100. ')      # ValueError: 잘못된 값이 사용된 경우(함수 argument로 전달된 경우)
x = int('100')

In [8]:
# 100 + '200'         #> TypeError: 잘못된 타입의 값이 사용된 경우 
print(100 + 200)
print('100' + '200')

300
100200

In [12]:
numbers = [1, 2, 3]
# print(numbers[3])       #> IndexError: 리스트의 인덱스가 범위를 벗어나는 경우 
print(numbers[2])

3

In [16]:
# 123 / 0     #> ZeroDivisionError: 0으로 나누려고 할 때 (어떤 숫자를 0으로 나눌 수 없으니까 Error)
123 / 0.001

123000.0

# try-except 구문

프로그램 실행 중에 오류(예외)가 발생하는 경우 해결 방법:

*    예외가 발생한 위치와 원인을 파악해서 예외가 발생하지 ㅇ낳도록 코드 수정. 
*    오류가 발생하더라도 프로그램이 (비정상적으로) 종료되지 않고 계속 실행될 수 있도록 처리


```
try:
        실행할 코드들(블록) 
except [에러 이름 [as 별명]]:
            에러가 발생했을 때 실행할 문장들(블록)
[else:
        try 블록이 에러없이 정상적으로 모두 실행됐을 때 실행할 문장들]
[finally:
        try블록 실행중 에러 발생 여부와 상관없이 항상 실행할 문장들]
```

In [23]:
 try:
    x = float(input('숫자 x 입력>>>   '))
    y = float(input('숫자 y 입력>>>   '))
    print (f'{x} + {y} = {x + y}')
    print (f'{x} - {y} = {x - y}')
    print (f'{x} * {y} = {x * y}')
    print (f'{x} / {y} = {x / y}')
except Error:                           #모든 에러를 처리 
    print('오류발생')

숫자 x 입력>>>   1
숫자 y 입력>>>   1
1.0 + 1.0 = 2.0
1.0 - 1.0 = 0.0
1.0 * 1.0 = 1.0
1.0 / 1.0 = 1.0

In [27]:
 try:
    x = float(input('숫자 x 입력>>>   '))
    y = float(input('숫자 y 입력>>>   '))
    print (f'{x} + {y} = {x + y}')
    print (f'{x} - {y} = {x - y}')
    print (f'{x} * {y} = {x * y}')
    print (f'{x} / {y} = {x / y}')
except ValueError:                  # ValueError 오류만 처리 
    print('ValueError가 발생')

숫자 x 입력>>>   1
숫자 y 입력>>>   0
1.0 + 0.0 = 1.0
1.0 - 0.0 = 1.0
1.0 * 0.0 = 0.0

ZeroDivisionError: ignored

In [1]:
 try:
    x = float(input('숫자 x 입력>>>   '))
    y = float(input('숫자 y 입력>>>   '))
    print (f'{x} + {y} = {x + y}')
    print (f'{x} - {y} = {x - y}')
    print (f'{x} * {y} = {x * y}')
    print (f'{x} / {y} = {x / y}')
except ValueError:
    print('입력값은 숫자여야 합니다!')
except ZeroDivisionError:
    print('0으로는 나눌 수 없습니다.')

숫자 x 입력>>>   1
숫자 y 입력>>>
입력값은 숫자여야 합니다!

In [4]:
try:
    n = int(input('정수 입력>>>  '))
    print('n = ', n)
    print('[1] try 구문 끝')
except ValueError as e:         #ValueError가 발생했을 때 
    print('[2]', e)
else:               # 오류가 발생하지 않았을 때 
    print('[3] try에서 에러가 발생하지 않은 경우')
finally:            # 항상 
    print('[4] finally')

정수 입력>>>  2
n =  2
[1] try 구문 끝
[3] try에서 에러가 발생하지 않은 경우
[4] finally

# try-except 응용

word counting

In [8]:
words = ['one', 'two', 'two', 'three', 'three', 'three']
word_counts = {}      #empth dict
for w in words:
    try:
       word_counts[w] += 1      #word_counts[w] = word_counts[w] + 1
    except:
        word_counts[w] = 1    # word_counts[w] = word_counts[w] + 1

print(word_counts)

{'one': 1, 'two': 2, 'three': 3}

In [11]:
while True:                #무한 반복문 
    try:
        n = int(input('정수 입력>>>  '))
        print('n = ', n)
        break                 # while 반복문 종료
    except:
        print('입력값은 정수여야 합니다!')

정수 입력>>>  3
n =  3

In [12]:
while True:                #무한 반복문 
    try:
        n = int(input('정수 입력>>>  '))
    except:                 # 에러가 발생한 경우
        print('입력값은 정수여야 합니다!')
    else:                       # 에러가 발생하지 않은 경우
        print('n', n)
        break                  # 무한 반목문 종료

정수 입력>>>  ㅁ
입력값은 정수여야 합니다!
정수 입력>>>  1
n 1

# 사용자 정의 에러 생성

In [18]:
try:
    age = int(input('나이 입력>>> '))
    if age < 0:         # 입력받은 값이 0보다 작으면 
         raise ValueError(' 나이는 0보다 크거나 같아야 합니다')
    print('나이: ', age)
except ValueError as e:
    print(e)

나이 입력>>> 뮤
invalid literal for int() with base 10: '뮤'