<a href="https://colab.research.google.com/github/bomnism/PythonStudy/blob/main/Python02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type (자료형)

* 숫자 타입:
  *   int: 정수
  *   float: 실수
* 문자열 타입: str
* 논리 타입: bool - True/False 두 가지 상태를 저장하는 변수

In [6]:
 # 변수 n에 정수 100을 저장 
 n = 100
 print(n)

100

In [4]:
 type(n) # type(x): 변수 x의 자료형(data type)을 반환

int

In [12]:
pi = 3.141592
print(pi)
type(pi)

3.141592
pretty

In [13]:
 x = 'pretty'
print(x)

pretty

In [5]:
 s = '안녕하세요'
 print(s)
type(s)

안녕하세요

str

In [8]:
 b = True   # Python의 예약어들은 대/소문자를 구분함 
 print(b)
 type(b)    # bool : True나 False를 저장하는 타입

True

bool

In [13]:
b = 5 > 1
print(b, type(b))

True <class 'bool'>

# 명시적 타입 변환(explicit type conversion)

*  `int(값)` : 값을 정수로 변환하는 함수 
*  `float(값)` : 값을 실수로 변환하는 함수
*  `str(값)` : 값을 문자열로 변환하는 함수

In [16]:
num_str = '123'
type(num_str)   # 문자열로 저장

str

In [20]:
num_int = int(num_str)  # 문자열 '123'을  정수 123으로 변환 후 변수 num_int에 저장
type(num_int)

int

In [22]:
pi = float('3.141592')  
type(pi)

float

In [24]:
 # int('3.14)  #> 문자열 '3.14'는 정수로 변환 불가능
 int('1,000')  #> 문자열 '1,000'은 정수로 변환 불가능 
 float('1,000.0') #> 문자열 '1,000.0'은 실수로 변환 불가능

ValueError: ignored

# 산술 연산자

* 산술 연산자 종류 : `+`, `-`, `*`, `/`, `**`, `//`, `%`
* 산술 연산자는 숫자 타입(int, float)의 값 또는 변수에서 사용할 수 있음

In [32]:
 n1 = 10
 n2 = 3

In [33]:
print(f'{n1} + {n2} = {n1 + n2}')
print(f'{n1} - {n2} = {n1 - n2}')
print(f'{n1} * {n2} = {n1 * n2}')
print(f'{n1} / {n2} = {n1 / n2}')
print(f'{n1}의 {n2} 거듭제곱 = {n1 ** n2}')
print(f'{n1}을 {n2}로 나눈 몫 = {n1 // n2}')
print(f'{n1}을 {n2}로 나눈 나머지 = {n1 % n2}')

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10의 3 거듭제곱 = 1000
10을 3로 나눈 몫 = 3
10을 3로 나눈 나머지 = 1